/* font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* var */
:root{
    --mainPrimaryGreenColor:#B9FF66;
    --mainPrimaryDarkColor:#191A23;
    --mainPrimaryGrayColor:#F3F3F3;
    --white:#fff;
    --black:#000;
    --fontFamily:"Space Grotesk", sans-serif;
    --h1-size:60px;
    --h2-size:40px;
    --h3-size:30px;
    --h4-size:20px;
    --p-size:18px;
}

/* general */
*{
    margin: 0;
    padding: 0;

}

body{
    font-family: var(--fontFamily);
    box-sizing: border-box;
}
::selection{
    background: var(--mainPrimaryGreenColor);
    color: var(--black);
}

.container{
    width: 90%;
    margin: 0 auto;
}
h1{
    font-size: var(--h1-size);
    font-weight: 500;
}
h2{
    font-size: var(--h2-size);
    font-weight: 500;

}
h3{
    font-size: var(--h3-size);
    font-weight: 500;

}
h4{
    font-size: var(--h4-size);
    font-weight: 500;

}
p{
    font-size: var(--p-size);
    font-weight: normal;

}
/* btn */
.btn{
    border-radius: 14px;
    display: inline-flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: var(--p-size);
    transition: 0.3s all;
}
.btn.btn_md{
    height: 48px;
    min-width: 180px;
}
.btn.btn_lg{
    height: 56px;
    min-width: 230px;
}
a.btn{
    text-decoration: none;
}
.btn_dark_outline{
    background: transparent;
    border: 1px solid var(--mainPrimaryDarkColor)
}
.btn_dark_outline:hover{
    background: var(--mainPrimaryGreenColor);
    border: 1px solid var(--mainPrimaryGreenColor)
}
.btn_dark{
    background: var(--mainPrimaryDarkColor);
    color: var(--white);
    border: 1px solid transparent;

}
.btn_dark:hover{
    background: transparent;
    color: var(--mainPrimaryDarkColor);
    border: 1px solid var(--mainPrimaryDarkColor);
}


/* header */
.navbar{
    display: flex ;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo_img {
    max-width: 200px;
    width: 100%;
}
.menu_toggle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.menu_toggle .bar{
    width: 30px;
    height: 3px;
    background: var(--mainPrimaryDarkColor);
    transition: all 0.5s;
}
.menu_toggle.open .bar:nth-child(1) {
    transform: rotate(48deg);
}
.menu_toggle.open .bar:nth-child(2) {
    transform: rotate(310deg);
}
.menu_toggle.open .bar:nth-child(3) {
opacity: 0;
}
.menu_toggle.open .bar{
    position: absolute;
    width: 26px;
    height: 3px;
}
.nav_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    width: 100%;
    list-style: none;
}
.nav_list .nav_item .nav_links{
    text-decoration: none;
    color: var(--mainPrimaryDarkColor);
    transition: 0.3s all;
    font-size: var(--p-size);
}
.nav_list .nav_item .nav_links:not(.btn){
    padding: 12px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
 
.nav_list .nav_item .nav_links:not(.btn):hover{
    border-color: var(--mainPrimaryGreenColor);
}

/* hero sec */
.hero_sec {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
}
.hero_left_side_sec,.hero_right_side_sec {
    width: 50%;
}

.hero_left_side_sec .content .title,
.hero_left_side_sec .content .intro,
.hero_left_side_sec .content .btn
{
margin-bottom: 32px;
}
.hero_right_sec_img {
    max-width: 600px;
    width: 100%;
}
.hero_left_sec_img {
    max-width:600px;
    width: 100%;
}
/* logos sec */
.logos-container {
    display: flex ; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
  }
.logos-item {
    flex: none;
    min-width: 180px;
    min-height: 48px;
    scroll-snap-align: center;
    /* background: lightblue; */
}
  .logos-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
  
  .logos-container {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  .cp_logos_img {
    filter: brightness(0) saturate(100%);
}

/* service_sec */
.service_sec{
    margin: 100px 0;
}
.sec_title {
    background: var(--mainPrimaryGreenColor);
    display: inline-block;
    padding: 5px 10px;
}
.sec_head{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 60px;
}
.service_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.service_card{
    display: flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 3%;
    min-height: 200px;
    border-radius: 45px;
    border:1px solid var(--black);
    box-shadow: 0px 5px 0 0 var(--mainPrimaryDarkColor);
}
.service_card .service_card_left_side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.service_card_right_side_img {
    max-width: 210px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.service_card.grey_card{
    background: var(--mainPrimaryGrayColor);
}
.service_card.grey_card .service_card_title {
    background: var(--mainPrimaryGreenColor)
}
.service_card_link {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
}
.service_card_link .icon {
    background: var(--mainPrimaryDarkColor);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.service_card_link .icon {
transition: 0.3s all;
}
 .service_card_link:hover .icon {
    transform: rotateZ(30deg);
}
.service_card_link .icon img {
    width: 18px;
}
.service_card.green_card{
    background: var(--mainPrimaryGreenColor);
}
.service_card.green_card .service_card_title {
    background: var(--white);
}
.service_card.dark_card{
    background: var(--mainPrimaryDarkColor);
}
.service_card.dark_card .service_card_title {
    background: var(--white)
}
.service_card.dark_card  .service_card_link .icon {
    background: var(--white);
}
.service_card.dark_card  .service_card_link .icon img {
    filter: brightness(0) saturate(100%)
}
.service_card.dark_card  .service_card_link{
    color: var(--white);
}
.service_card_title{
    padding: 5px;
    width: fit-content;
}
.service_card .service_card_left_side{
    text-align: right;
}
.service_card .service_card_left_side,.service_card_right_side {
    width: 50%;
}   

section.makeHappen_sec{
  background: var(--mainPrimaryGrayColor);  
  border-radius: 45px;
  margin-bottom: 100px;
}

.makeHappen_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.makeHappen_card .col_1,.makeHappen_card .col_2{
    width: 50%;
}
.makeHappen_card  img.makeHappen_img {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: -22px auto;
}
.makeHappen_card .title {
    margin-bottom: 28px;
}
.makeHappen_card .sec_para {
    margin-bottom: 20px;
}

section.caseStudies_sec{
    margin-bottom: 100px;
}
.caseStudies_cards{
    background: var(--mainPrimaryDarkColor);
    border-radius: 45px;
    padding: 50px;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
}
.caseStudies_cards [class*=col_] {
    width: 33.3%;
}
.caseStudies_cards [class*=col_] .caseStudies_card {
    border-right: 1px solid #fff;
    padding: 10px 20px;
}
.caseStudies_cards [class*=col_]:last-child .caseStudies_card{
    border-right: 0px;
}
.caseStudies_cards .caseStudies_card_link {
    color: var(--mainPrimaryGreenColor);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    transition: 0.3s all;
    cursor: pointer;
}
.caseStudies_cards .caseStudies_card_link:hover .icon{
    transform: rotateZ(30deg);
}

.caseStudies_cards .caseStudies_card_link .text {
    margin-right: 8px;
}
.caseStudies_cards .caseStudies_card_link .icon {
    width: 18px;
    transition: 0.3s all;

}
.workProcess .questions .question_card{
    background: var(--mainPrimaryGrayColor);
    padding: 30px 60px;
    margin-bottom: 30px;
    border-radius: 45px;
    border: 1px solid var(--black);
    box-shadow: 0px 5px 0 0 var(--mainPrimaryDarkColor);
}
.workProcess .questions .question_card.active{
    background: var(--mainPrimaryGreenColor);
}
.workProcess .questions .question_card .question_card-head{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.workProcess .questions .question_card .question_card-head::after{
    content: '+';
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: var(--white);
    border-radius: 50%;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}
.workProcess .questions .question_card.active .question_card-head::after{
    content: '-';
    transition: 0.5s all;

}

.workProcess .questions .question_card .question_card-body{
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;

}
.workProcess .questions .question_card.active .question_card-body{
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.workProcess .questions .question_card.active .question_card-body{
    border-top: 1px solid var(--mainPrimaryDarkColor);
    padding-top: 20px;
}

.workProcess .questions .question_card .number{
    font-size: var(--h1-size);
    margin-right: 20px;
}
.workProcess .questions .question_card .title{
    font-size: var(--h3-size);
    padding-right: 30px;

}
.workProcess .questions .question_card .question_card-text {
    padding-right: 30px;
}
section.workProcess{
    margin-bottom: 100px;
}

/* responive */

@media screen and (min-width:1025px){
    .menu_toggle{
        display: none;
    }
    .navbar{
        margin-top: 60px;
    }
    .hero_sec,.logos_sec,.logos_sec {
        margin-top: 60px;
    }
    .md_hide{
        display: none;
    }
    .hero_left_side_sec .content {
        max-width: 530px;
        width: 100%;
    }
    .logos-container {
        gap: 42px;
    }
    .sec_head{
        flex-wrap: initial;
    }
    .service_card{
        min-height: 248px;
        width: 43%;
      }
      /* .service_cards{
        gap: 5%;
    } */
}
@media screen and (max-width:1024px){
    .nav_list{
        display: flex ;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 100%;
        opacity: 0; 
        width: 100%;
        background: var(--mainPrimaryGrayColor);
        z-index: 99;
    }
    .menu_toggle.open{
        position: fixed;
        z-index: 100;

    }
    .nav_list .nav_item .nav_links{
        color: var(--mainPrimaryDarkColor);
    }
    .nav_list.show{
        bottom: 0%;
        opacity: 1; 
    }
    .nav_list{
        gap: 10px;
    }
    .logo_img {
        max-width: 160px;
    }
    .navbar{
        margin-top: 30px;
    }
    .hero_left_side_sec,.hero_right_side_sec {
        width: 100%;
    }
    .hero_sec,.logos_sec {
        margin-top: 30px;
    }
    .xs_hide{
        display: none;
    }
    .sec_head{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .service_card{
        margin-bottom: 6%;
        width: 40%;
        padding: 20px;
    }
    .service_card_title {
        padding: 2px;
    }
    .service_cards{
        gap: 2%;
    }
    .service_card_right_side_img {
        max-width: 130px;
    }
    .service_card_link {
        font-size: 18px;
        gap: 4px;
    }
    .service_card_link .icon{
        height: 30px;
        width: 30px;
    }
    .service_card_link .icon img {
        width: 14px;
    }
   
    section.makeHappen_sec {
        padding: 20px 10px;
        margin-bottom: 50px;
    }
    
    section.caseStudies_sec{
        margin-bottom: 50px;
    }
}
@media screen and (min-width:769px){
     
}
@media screen and (max-width:768px){
    
    .service_card{
        width: 100%;
    }
    .service_card {
        padding: 20px 10px;
    }
   
    .makeHappen_card  img.makeHappen_img{
        display: none;
    }
    .makeHappen_card .col_1,
    .makeHappen_card .col_2{
        width: 100%;
    }
    .caseStudies_cards{
        flex-wrap: unset;
        background: transparent;
        border-radius: 0;
        padding: 0px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    .caseStudies_cards::-webkit-scrollbar {
        display: none; /* Hide scrollbar for WebKit browsers */
      }
      
      .caseStudies_cards {
        scrollbar-width: none; /* Hide scrollbar for Firefox */
      }
      .caseStudies_cards [class*=col_]{
        width: 100%;
      }
    .caseStudies_cards .caseStudies_card{
        background: var(--mainPrimaryDarkColor);
        border-radius: 45px;
        padding: 30px !important;
        scroll-snap-align: center;
        min-width: 220px;
    }
    /* .logos-container {
        display: flex ; 
      
        width: 100%;
        height: 100%;
      }
    .logos-item {
        flex: none;
        min-width: 180px;
        min-height: 48px;
    } */
   
}
@media screen and (max-width:430px){
    :root{
        --h1-size:43px;
        --h2-size:36px;
        --h3-size:26px;
        --h4-size:18px;
        --p-size:16px;
    }
    .workProcess .questions .question_card{
        padding: 20px;
    }
    .workProcess .questions .question_card .question_card-head::after{
        width: 40px;
        height: 40px;
    }
    .workProcess .questions .question_card .title{
        padding-right: 20px;
    }
}