/* font */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* var */
:root{
    --mainPrimaryGreenColor:#B9FF66;
    --mainPrimaryDarkColor:#191A23;
    --mainPrimaryGrayColor:#F3F3F3;
    --white:#fff;
    --black:#000;
    --fontFamily:"Space Grotesk", sans-serif;
    --h1-size:60px;
    --h2-size:40px;
    --h3-size:30px;
    --h4-size:20px;
    --p-size:18px;
}

/* general */
*{
    margin: 0;
    padding: 0;

}

body{
    font-family: var(--fontFamily);
    box-sizing: border-box;
}
::selection{
    background: var(--mainPrimaryGreenColor);
    color: var(--black);
}

.container{
    width: 90%;
    margin: 0 auto;
}
h1{
    font-size: var(--h1-size);
    font-weight: 500;
}
h2{
    font-size: var(--h2-size);
    font-weight: 500;

}
h3{
    font-size: var(--h3-size);
    font-weight: 500;

}
h4{
    font-size: var(--h4-size);
    font-weight: 500;

}
p{
    font-size: var(--p-size);
    font-weight: normal;

}
/* btn */
.btn{
    border-radius: 14px;
    display: inline-flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: var(--p-size);
    transition: 0.3s all;
    cursor: pointer;
}
.btn.btn_md{
    height: 48px;
    min-width: 180px;
}
.btn.btn_lg{
    height: 56px;
    min-width: 230px;
}
a.btn{
    text-decoration: none;
}
.btn_dark_outline{
    background: transparent;
    border: 1px solid var(--mainPrimaryDarkColor)
}
.btn_dark_outline:hover{
    background: var(--mainPrimaryGreenColor);
    border: 1px solid var(--mainPrimaryGreenColor)
}
.btn_dark{
    background: var(--mainPrimaryDarkColor);
    color: var(--white);
    border: 1px solid transparent;

}
.btn_dark:hover{
    background: transparent;
    color: var(--mainPrimaryDarkColor);
    border: 1px solid var(--mainPrimaryDarkColor);
}
.btn_green{
    background: var(--mainPrimaryGreenColor);
    color: var(--black);
    border: 1px solid transparent;

}
.btn_green:hover{
    background: transparent;
    color: var(--mainPrimaryGreenColor);
    border: 1px solid var(--mainPrimaryGreenColor);
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

/* header */
.navbar{
    display: flex ;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo_img {
    max-width: 200px;
    width: 100%;
}
.menu_toggle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.menu_toggle .bar{
    width: 30px;
    height: 3px;
    background: var(--mainPrimaryDarkColor);
    transition: all 0.5s;
}
.menu_toggle.open .bar:nth-child(1) {
    transform: rotate(48deg);
}
.menu_toggle.open .bar:nth-child(2) {
    transform: rotate(310deg);
}
.menu_toggle.open .bar:nth-child(3) {
opacity: 0;
}
.menu_toggle.open .bar{
    position: absolute;
    width: 26px;
    height: 3px;
}
.nav_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    width: 100%;
    list-style: none;
}
.nav_list .nav_item .nav_links{
    text-decoration: none;
    color: var(--mainPrimaryDarkColor);
    transition: 0.3s all;
    font-size: var(--p-size);
}
.nav_list .nav_item .nav_links:not(.btn){
    padding: 12px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
 
.nav_list .nav_item .nav_links:not(.btn):hover{
    border-color: var(--mainPrimaryGreenColor);
}

/* hero sec */
.hero_sec {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
}
.hero_left_side_sec,.hero_right_side_sec {
    width: 50%;
}

.hero_left_side_sec .content .title,
.hero_left_side_sec .content .intro,
.hero_left_side_sec .content .btn
{
margin-bottom: 32px;
}
.hero_right_sec_img {
    max-width: 600px;
    width: 100%;
}
.hero_left_sec_img {
    max-width:600px;
    width: 100%;
}
/* logos sec */
.logos-container {
    display: flex ; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
  }
.logos-item {
    flex: none;
    min-width: 180px;
    min-height: 48px;
    scroll-snap-align: center;
    /* background: lightblue; */
}
  .logos-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
  
  .logos-container {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  .cp_logos_img {
    filter: brightness(0) saturate(100%);
}

/* service_sec */
.service_sec{
    margin: 100px 0;
}
.sec_title {
    background: var(--mainPrimaryGreenColor);
    display: inline-block;
    padding: 5px 10px;
}
.sec_head{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 60px;
}
.service_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.service_card{
    display: flex ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 3%;
    min-height: 200px;
    border-radius: 45px;
    border:1px solid var(--black);
    box-shadow: 0px 5px 0 0 var(--mainPrimaryDarkColor);
}
.service_card .service_card_left_side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.service_card_right_side_img {
    max-width: 210px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.service_card.grey_card{
    background: var(--mainPrimaryGrayColor);
}
.service_card.grey_card .service_card_title {
    background: var(--mainPrimaryGreenColor)
}
.service_card_link {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
}
.service_card_link .icon {
    background: var(--mainPrimaryDarkColor);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.service_card_link .icon {
transition: 0.3s all;
}
 .service_card_link:hover .icon {
    transform: rotateZ(30deg);
}
.service_card_link .icon img {
    width: 18px;
}
.service_card.green_card{
    background: var(--mainPrimaryGreenColor);
}
.service_card.green_card .service_card_title {
    background: var(--white);
}
.service_card.dark_card{
    background: var(--mainPrimaryDarkColor);
}
.service_card.dark_card .service_card_title {
    background: var(--white)
}
.service_card.dark_card  .service_card_link .icon {
    background: var(--white);
}
.service_card.dark_card  .service_card_link .icon img {
    filter: brightness(0) saturate(100%)
}
.service_card.dark_card  .service_card_link{
    color: var(--white);
}
.service_card_title{
    padding: 5px;
    width: fit-content;
}
.service_card .service_card_left_side{
    text-align: right;
}
.service_card .service_card_left_side,.service_card_right_side {
    width: 50%;
}   

section.makeHappen_sec{
  background: var(--mainPrimaryGrayColor);  
  border-radius: 45px;
  margin-bottom: 100px;
}

.makeHappen_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.makeHappen_card .col_1,.makeHappen_card .col_2{
    width: 50%;
}
.makeHappen_card  img.makeHappen_img {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: -22px auto;
}
.makeHappen_card .title {
    margin-bottom: 28px;
}
.makeHappen_card .sec_para {
    margin-bottom: 20px;
}

section.caseStudies_sec{
    margin-bottom: 100px;
}
.caseStudies_cards{
    background: var(--mainPrimaryDarkColor);
    border-radius: 45px;
    padding: 50px;
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
}
.caseStudies_cards [class*=col_] {
    width: 33.3%;
}
.caseStudies_cards [class*=col_] .caseStudies_card {
    border-right: 1px solid #fff;
    padding: 10px 20px;
}
.caseStudies_cards [class*=col_]:last-child .caseStudies_card{
    border-right: 0px;
}
.caseStudies_cards .caseStudies_card_link {
    color: var(--mainPrimaryGreenColor);
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    transition: 0.3s all;
    cursor: pointer;
}
.caseStudies_cards .caseStudies_card_link:hover .icon{
    transform: rotateZ(30deg);
}

.caseStudies_cards .caseStudies_card_link .text {
    margin-right: 8px;
}
.caseStudies_cards .caseStudies_card_link .icon {
    width: 18px;
    transition: 0.3s all;

}
.workProcess .questions .question_card{
    background: var(--mainPrimaryGrayColor);
    padding: 30px 60px;
    margin-bottom: 30px;
    border-radius: 45px;
    border: 1px solid var(--black);
    box-shadow: 0px 5px 0 0 var(--mainPrimaryDarkColor);
}
.workProcess .questions .question_card.active{
    background: var(--mainPrimaryGreenColor);
}
.workProcess .questions .question_card .question_card-head{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.workProcess .questions .question_card .question_card-head::after{
    content: '+';
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: var(--white);
    border-radius: 50%;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}
.workProcess .questions .question_card.active .question_card-head::after{
    content: '-';
    transition: 0.5s all;

}

.workProcess .questions .question_card .question_card-body{
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;

}
.workProcess .questions .question_card.active .question_card-body{
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.workProcess .questions .question_card.active .question_card-body{
    border-top: 1px solid var(--mainPrimaryDarkColor);
    padding-top: 20px;
}

.workProcess .questions .question_card .number{
    font-size: var(--h1-size);
    margin-right: 20px;
}
.workProcess .questions .question_card .title{
    font-size: var(--h3-size);
    padding-right: 30px;

}
.workProcess .questions .question_card .question_card-text {
    padding-right: 30px;
}
section.workProcess{
    margin-bottom: 100px;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.teams_card {
    width: 27%;
    border: 1px solid var(--black);
    box-shadow: 0px 5px 0 0 var(--mainPrimaryDarkColor);
    border-radius: 45px;
    padding: 30px;
}
.teams_card .team_card-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.teams_card .team_card-head .linkdin_icon::after{
    content: 'in';
    background: var(--mainPrimaryDarkColor);
    color: var(--mainPrimaryGreenColor);
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 42px;
    font-size: var(--h3-size);
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
}
.teams_card .team_card-head .linkdin_icon:hover::after{
    background: var(--mainPrimaryGreenColor);
    color: var(--mainPrimaryDarkColor);
}
.teams_card .team_card-head .user_profile {
    max-width: 110px;
    width: 100%;
}
.teams_card .team_card-head .user_detail {
    width: 68%;
}
.teams_card .team_card-body {
    border-top: 1px solid var(--mainPrimaryDarkColor);
    padding-top: 20px;
    margin-top: 10px;
}
section.teamSec .seeAll_btn {
    text-align: right;
    margin-top: 30px;
}
.teamSec{
    margin-bottom: 100px;
}
.testimonialsSec .swiper-button-next,.testimonialsSec .swiper-button-prev{
    width: 40px;
    height: 40px;
}
.testimonialsSec .swiper-button-next:after,.testimonialsSec .swiper-button-prev:after{
    background: var(--mainPrimaryDarkColor);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--mainPrimaryGreenColor);
    font-weight: bold;
    transition: all 0.3s;
}
 
.testimonialsSec .swiper-button-next:hover::after,.testimonialsSec .swiper-button-prev:hover::after{
    background: var(--mainPrimaryGreenColor);
    color: var(--mainPrimaryDarkColor);
}
.testimonialsSec .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.testimonialsSec .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    height: 10px;
    width: 10px;
    border-radius: 0px;
}

.testimonialsSec .swiper-pagination-bullet{
    background: var(--mainPrimaryGrayColor);
}
.testimonialsSec .swiper-pagination-bullet-active{
    background: var(--mainPrimaryGreenColor)
}
.slider-section {
    background: var(--mainPrimaryDarkColor);
    border-radius: 45px;
    padding: 60px 0px 20px 0px;
}
.testimonials_card .quotation{
    border: 1px solid var(--mainPrimaryGreenColor);
    border-radius: 45px;
    color: var(--white);
    padding: 30px;
    position: relative;
}
.testimonials_card .quotation::after {
    content: '';
    position: absolute;
    bottom: -28px;
    left: 46px;
    background: url(./assets/bubble_arrow.png) no-repeat;
    background-size: contain;
    width: 54px;
    height: 28px;
}
.testimonials_card .quotation_author {
    margin-top: 34px;
    padding: 0 66px;
}
.testimonials_card .quotation_author .name{
    color: var(--mainPrimaryGreenColor);
}
.testimonials_card .quotation_author {
    color: var(--white);
}
.testimonials_card {
    margin-bottom: 60px;
}
.slider-section .container.slider-column {
    width: 100%;
}
.testimonialsSec{
    margin-bottom: 100px;
}
.contactSec{
    margin-bottom: 100px;
}
.contactUs_card {
    padding: 60px;
    border-radius: 45px;
    background: var(--mainPrimaryGrayColor);
    position: relative;
}
.contactUs_card::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(./assets/contactIllustration.png) no-repeat center;
    background-size: contain;
    max-width: 290px;
    width: 100%;
    max-height: 720px;
    height: 100%;
}
.contactUs_card form {
    max-width: 560px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.radio-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}
.radio-group input[type='radio']{
    position: relative;
    top: 6px;
}
.radio-group label{
    margin-left: 6px;
}
.radio-group input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--mainPrimaryGrayColor);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--black);
}

.radio-group input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--mainPrimaryGreenColor);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid var(--black);
}
.name_input label,.email_input label,.massage_input label
 {
    display: block;
    margin-bottom: 10px;
}
.name_input input,.email_input input,.massage_input textarea{
    width: 100%;
    border: 1px solid var(--black);
    border-radius: 14px;
    padding: 30px;
    box-sizing: border-box;

}
input:focus, textarea:focus{
    border: 1px solid var(--mainPrimaryGreenColor);
    outline: none;
}
.name_input input, .email_input input {
    height: 60px;
    font-size: 16px;
}
.footerSec{
    background: var(--black);
    border-radius: 45px 45px 0px 0px;
    padding: 30px 60px;
}
.footerSec .row.row_one{
    align-items: center;
}
.footerSec .row_one .col_1{
    width: 20%;
}
.footerSec .row_one .col_2{
    width: 60%;
}
.footerSec .row_one .col_3{
    width: 20%;
}
.footerSec .footer_nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    list-style: none;
    gap: 20px;
}
.footerSec .footer_nav a{
    color: var(--white);
    text-decoration: none;
}
.footerSec .footer_nav a:hover{
    color: var(--mainPrimaryGreenColor);
}
.footerSec .footer_social{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    gap: 20px;
    align-items: center;
    justify-content: end;
}
.footerSec .footer_social a{
    background: var(--white);
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
}
.footerSec .footer_social a:hover{
    background: var(--mainPrimaryGreenColor);
}
.footerSec .row.row_two{
    align-items: center;
    margin: 30px 0;
}
.footerSec .row.row_two .col_1{
    width: 40%;
}
.footerSec .row.row_two .col_2{
    width: 60%;
}
.footerSec ul.contact_detail{
    list-style: none;
    margin-top: 20px;
    color: var(--white);
}
.footerSec ul.contact_detail li{
    margin: 10px 0;
}
.footerSec ul.contact_detail a{
    color: var(--white);
    text-decoration: none;
}
.footerSec ul.contact_detail a:hover{
    color: var(--mainPrimaryGreenColor);
}
.email_sub form{
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 150px;
    height: 100%;
    width: 100%;
    background: var(--mainPrimaryDarkColor);
}
.email_sub #emailSub{
    border: 1px solid var(--white);
    background: transparent;
    border-radius: 14px;
    box-sizing: border-box;
    height: 56px;
    min-width: 280px;
    padding: 0 20px;
    font-size: 16px;
    color: var(--white);
}
.email_sub input{
    box-sizing: border-box;
}
.row.row_three .col-1{
    width: 100%;
}
.row.row_three .col-1 .copy_right{
    padding-top: 20px;
    border-top: 1px solid var(--white);
    color: var(--white);
}
.row.row_three .col-1 .copy_right a{ 
    color: var(--white);
}
.row.row_three .col-1 .copy_right a:hover{ 
    color: var(--mainPrimaryGreenColor);
}
.row.row_three .col-1 .copy_right a.privacy_link {
    margin-left: 20px;
}

/* responive */

@media screen and (min-width:1025px){
    .menu_toggle{
        display: none;
    }
    .navbar{
        margin-top: 60px;
    }
    .hero_sec,.logos_sec,.logos_sec {
        margin-top: 60px;
    }
    .md_hide{
        display: none;
    }
    .hero_left_side_sec .content {
        max-width: 530px;
        width: 100%;
    }
    .logos-container {
        gap: 42px;
    }
    .sec_head{
        flex-wrap: initial;
    }
    .service_card{
        min-height: 248px;
        width: 43%;
      }
      /* .service_cards{
        gap: 5%;
    } */
}
@media screen and (max-width:1024px){
    .nav_list{
        display: flex ;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 100%;
        opacity: 0; 
        width: 100%;
        background: var(--mainPrimaryGrayColor);
        z-index: 99;
    }
    .menu_toggle.open{
        position: fixed;
        z-index: 100;

    }
    .nav_list .nav_item .nav_links{
        color: var(--mainPrimaryDarkColor);
    }
    .nav_list.show{
        bottom: 0%;
        opacity: 1; 
    }
    .nav_list{
        gap: 10px;
    }
    .logo_img {
        max-width: 160px;
    }
    .navbar{
        margin-top: 30px;
    }
    .hero_left_side_sec,.hero_right_side_sec {
        width: 100%;
    }
    .hero_sec,.logos_sec {
        margin-top: 30px;
    }
    .xs_hide{
        display: none;
    }
    .sec_head{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .service_card{
        margin-bottom: 6%;
        width: 40%;
        padding: 20px;
    }
    .service_card_title {
        padding: 2px;
    }
    .service_cards{
        gap: 2%;
    }
    .service_card_right_side_img {
        max-width: 130px;
    }
    .service_card_link {
        font-size: 18px;
        gap: 4px;
    }
    .service_card_link .icon{
        height: 30px;
        width: 30px;
    }
    .service_card_link .icon img {
        width: 14px;
    }
   
    section.makeHappen_sec {
        padding: 20px 10px;
        margin-bottom: 50px;
    }
    
    section.caseStudies_sec{
        margin-bottom: 50px;
    }
    .teams_card {
        width: 40%;
    }
}
@media screen and (min-width:769px){
     
}
@media screen and (max-width:768px){
    
    .service_card{
        width: 100%;
    }
    .service_card {
        padding: 20px 10px;
    }
   
    .makeHappen_card  img.makeHappen_img{
        display: none;
    }
    .makeHappen_card .col_1,
    .makeHappen_card .col_2{
        width: 100%;
    }
    .caseStudies_cards{
        flex-wrap: unset;
        background: transparent;
        border-radius: 0;
        padding: 0px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }
    .caseStudies_cards::-webkit-scrollbar {
        display: none; /* Hide scrollbar for WebKit browsers */
      }
      
      .caseStudies_cards {
        scrollbar-width: none; /* Hide scrollbar for Firefox */
      }
      .caseStudies_cards [class*=col_]{
        width: 100%;
      }
    .caseStudies_cards .caseStudies_card{
        background: var(--mainPrimaryDarkColor);
        border-radius: 45px;
        padding: 30px !important;
        scroll-snap-align: center;
        min-width: 220px;
    }
    /* .logos-container {
        display: flex ; 
      
        width: 100%;
        height: 100%;
      }
    .logos-item {
        flex: none;
        min-width: 180px;
        min-height: 48px;
    } */
    .teams_card {
        width: 100%;
    }
    .contactUs_card::after{
        content: unset;
    }
    .footerSec .row.row_one {
        gap: 30px;
    }
    .footerSec .row_one .col_1{
        width: 100%;
    }
    .footerSec .row_one .col_2{
        width: 100%;
    }
    .footerSec .row_one .col_3{
        width: 100%;
    }
    .footerSec .footer_nav{
        flex-direction: column;
        align-items: center;
    }
    img.brand_footer-logo {
        display: block;
        margin: 0 auto;
    }
    .footerSec{
        padding: 30px 20px;
    }
   
    .email_sub form{
        width: 100%;
        flex-direction: column;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .email_sub #emailSub{
        min-width: auto;
    }
    .footerSec .footer_social{
        justify-content: center;
    }
    .footerSec .row.row_two .col_1{
        width: 100%;
    }
    .footerSec .row.row_two .col_2{
        width: 100%;
    }
}
@media screen and (max-width:430px){
    :root{
        --h1-size:43px;
        --h2-size:36px;
        --h3-size:26px;
        --h4-size:18px;
        --p-size:16px;
    }
    .workProcess .questions .question_card{
        padding: 20px;
    }
    .workProcess .questions .question_card .question_card-head::after{
        width: 40px;
        height: 40px;
    }
    .workProcess .questions .question_card .title{
        padding-right: 20px;
    }
    .slider-section{
        padding: 30px 20px;
    }
    .contactUs_card{    
        padding: 60px 30px;
    }
  
    .radio-group{
        gap: 10px;
    }
    .footerSec .row.row_two .col_1 {
        text-align: center;
    }
}